.DS_Store
.pytest_cache/
.ruff_cache/
.mypy_cache/
__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

.venv/

mlx_sparse/_ext*.so
mlx_sparse/*.dylib
mlx_sparse/*.metallib
mlx_sparse/_version.py

docs/_build
/docs/misc/
