include CMakeLists.txt
include LICENSE
include README.md
include docs/changelog.rst
include pyproject.toml
include setup.py

recursive-include src *.cpp *.h *.metal
recursive-include mlx_sparse *.py *.metallib
recursive-include benchmarks *.py *.md
recursive-include docs *.css *.ipynb *.py *.rst
recursive-include examples *.py
recursive-include tests *.py *.mm

prune build
prune docs/_build
