include CMakeLists.txt
include CHANGELOG.md
include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include src *.cpp *.h *.metal
recursive-include mlx_sparse *.py *.metallib
recursive-include benchmarks *.py *.md
recursive-include docs *.css *.md *.py *.rst
recursive-include examples *.py
recursive-include tests *.py

prune build
prune docs/_build
